<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Angular HW 1</title>
	<script src="scripts/vendor/angular.js"></script>
	<script src="scripts/vendor/angular-local-storage.js"></script>
	<script src="scripts/app/app.js"></script>
	<link rel="stylesheet" href="styles/main.css"/>
</head>
<body ng-app="App">
	<div class="main" ng-controller="FirstController">
		<h1 class="title">
			IMENIK
		</h1>
		<button ng-click="addNewStudent()" class="new-student-button">Dodaj učenika</button>
	    <label><input type="checkbox"/>Sakrij sve dječake</label>
	    <label><input type="checkbox"/>Sakrij sve cure</label>
		<div class="phonebook">
			<div class="section">
				<h3 class="row-title">
					IME I PREZIME
				</h3>
				<div ng-repeat="student in students | orderBy: ['gender','dateOfAddition']" >
					{{student.name}}
				</div>
				<div class="input" ng-show="addingStudent">
					<input ng-model="name" type="text" />
				</div>
			</div>
			<div class="section">
				<h3 class="row-title">
					SPOL
				</h3>
			    <div ng-repeat="student in students | orderBy: ['gender','dateOfAddition']">
			        {{student.gender}}
			    </div>
			    <div class="input" ng-show="addingStudent">
			        <label><input type="radio" name="radioButton" ng-model="gender" value="M" ng-checked="true"/>M</label><br />
	                <label><input type="radio" name="radioButton" ng-model="gender" value="Ž"/>Ž</label>
		        </div>		    
			</div>
			<div class="section">
				<h3 class="row-title">
					DATUM UNOSA
				</h3>
				<div ng-repeat="student in students | orderBy: ['gender','dateOfAddition']">
					{{student.dateOfAddition | date: "medium"}}
				</div>
			    <button ng-click="confirm()" ng-show="addingStudent" class="confirm-button">Potvrdi unos</button>
			</div>
		</div>
	</div>
</body>
</html>